<div align="right" class="span3" id="sidebar">
 <h1 id="siteheader"><a href="{{ HOME_PATH }}index.html" title="{{ site.title }}">{{ site.title }}</a>
 </h1>
 {% if site.tagline %}<h6>{{ site.tagline }}</h6>{% endif %}
 <br>
 View one from the <a href="/archive.html" title="Rocky Horror">vault</a>
 <br>
<hr id="hrule">
 <a href="/speaking.html">Speaking and workshops</a>
<hr id="hrule">
<a href="/aboutme.html" title="About Me">About Me</a>
<hr id="hrule">
<a href="/disclaimer.html" title="Disclaimer">Disclaimer</a>
<br>
<hr>
<a href="/feed.xml"><i class="icon-rss icon-large"> </i></a>
<a href="https://twitter.com/madmanwoo"><i class="icon-twitter icon-large"></i></a>
<a href="https://github.com/NathanW2"><NathanW2 class="icon-github-alt icon-large"></i></a>
<a href="http://www.linkedin.com/in/nathanw"><i class="icon-ilinklnkedin-sign icon-large"></i></a>
<a href="https://plus.google.com/u/0/109990125267312011029/posts"><i class="icon-google-plus-sign icon-large"></i></a>
</div>