<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

  {% include head.html %}

  <body class="theme-base-0d" >

    <header class="masthead">
      <div class="masthead-inner">
        <h1><a href="/index.html" title="{{ site.title }}">{{ site.title }}</a></h1>
        <p class="lead">{{ site.description }}</p>

        <div class="colophon">
          <ul class="colophon-links">
            <li>
              View one from the <a href="/archive.html" title="Rocky Horror">vault</a>
            </li>
            <li>
              <a href="/speaking.html">Speaking and workshops</a>
            </li>
            <li>
              <a href="/aboutme.html" title="About Me">About Me</a>
            </li>
            <li>
              <a href="/disclaimer.html" title="Disclaimer">Disclaimer</a>
            </li>
            <li>
            <a href="/feed.xml">Post Feed</a>
            </li>
          </ul>
          <p>&copy; 2014. {{ site.author.name }} All rights reserved.</p>
        </div>
      </div>
    </header>

    <div class="content container">
      {{ content }}
    </div>

  </body>
</html>
